<!doctype html>
<html lang="en" ng-app="timersPack">
<head>
	<meta charset="UTF-8">
	<title>Timer</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>
	<script src="javascripts/timer.js"></script>
</head>
<body ng-controller="TimerController">
	<button id="create" ng-click="addTimer()">Создать</button>
	<div id="timers">
		<div class="timer-wrapper" ng-repeat="timer in timers | orderBy:sorted:reverse = true">
			<h1>{{timer.name}}</h1>
			<p>0</p>
			<button ng-click="removeTimer(timer)">Remove</button>
			<button ng-click="stopTimer(timer)">Stop</button>
			<button ng-click="startTimer(timer)">Start</button>
			<button ng-click="pauseTimer(timer)">Pause</button>
		</div>
	</div>


</body>
</html>