<!doctype html>
<html lang="en" ng-app="timersPack">
<head>
	<meta charset="UTF-8">
	<title>Timer</title>
	<script src="http://code.angularjs.org/1.2.2/angular.min.js"></script>
	<script src="javascripts/timer.js"></script>
</head>
<body ng-controller="TimerController as timer">
	<button id="create" ng-click="timer.addTimer()">Create</button>
	<button id="create" ng-click="timer.doSort()">Sorting</button>
	<div id="timers">
		<div class="timer-wrapper" ng-repeat="values in timer.timers | orderBy:sorting:reverse = true | limitTo: 20">
			<h1>{{values.name}}</h1>
			<p>{{values.time}}</p>
			<button ng-click="timer.removeTimer(values)">Remove</button>
			<button ng-click="timer.stopTimer(values)">Stop</button>
			<button ng-click="timer.startTimer(values)">Start</button>
			<button ng-click="timer.pauseTimer(values)">Pause</button>
		</div>
	</div>
</body>
</html>